<p-fluid>
    <p-button
        class="w-full"
        [icon]="PrimeIcons.CALENDAR"
        label=" 1. Agendar"
        (click)="showDialog()" />
</p-fluid>

<p-dialog
    header="Agendar Trámite - AMERICAN DELI AGENCIAMIENTO TURÍSTICO / AGENCIA DE VIAJES DUAL / Categoría única"
    [(visible)]="visible"
    [modal]="true"
    [breakpoints]="{ '1199px': '90vw', '900px': '95vw', '575px': '98vw' }"
    [style]="{ width: '85vw', minWidth: '320px', maxWidth: '95vw', height: '600px' }"
    [draggable]="false"
    [resizable]="false"
    [contentStyle]="{ 'padding': '1.5rem' }">

    <form [formGroup]="form" (ngSubmit)="inspectionAssignment()" class="flex flex-col gap-6 w-full">

        <p class="text-blue-700">
            Referencia al art 5, del Acuerdo Ministerial Nro. 2023 - 016 , señala:
            "En caso de que no se hayan realizado las inspecciones agendadas por el usuario dentro de los plazos
            establecidos para los trámites de registro, reingreso, recategorización y reclasificación, la Autoridad
            Nacional de Turismo o el Gobierno Autónomo Descentralizado al que se le haya conferido dicha atribución,
            ejecutarán las inspecciones que correspondan, en un plazo máximo de 30 (treinta) días, posteriores a la
            fecha de vencimiento determinada para el agendamiento."
        </p>

        <div class="flex justify-content-end mb-4">
            <p-button
                [icon]="PrimeIcons.SAVE"
                label="Guardar"
                type="submit" />
        </div>

        <div class="calendar-wrapper">
            <p-datepicker
                formControlName="inspectionAt"
                [inline]="true"
                [showTime]="true"
                [hourFormat]="'24'"
                [showWeek]="true"
                [numberOfMonths]="2" />
        </div>
    </form>
</p-dialog>
