@if (authService.role) {
    @switch (authService.role.code) {
        @case (RoleEnum.ADMIN) {
            <app-admin-dashboard />
        }
        @case (RoleEnum.EXTERNAL) {
            <app-external-dashboard />
        }
        @case (RoleEnum.GAD) {
            <app-gad-dashboard />
        }
        @case (RoleEnum.DAC) {
            <app-dac-dashboard />
        }
        @case (RoleEnum.TECHNICIAN) {
            <app-technician-dashboard />
        }
        @case (RoleEnum.SPECIALIST) {
            <app-specialist-dashboard />
        }
    }
}
