<p-fluid>
    <form [formGroup]="form" class="grid grid-cols-12 gap-6">
        <!-- Tipo de Contribuyente -->
        <div class="col-span-12 flex flex-col gap-2">
            <label appLabel [label]="regulationSimulatorFormEnum.constributorType" for="contributorType"></label>
            <p-select size="large" formControlName="contributorType" optionLabel="name" optionValue="code" [options]="contributorTypes" placeholder="Seleccione..." class="w-full" />
        </div>

        @if (contributorTypeField.value) {
            <!-- Zona Geográfica -->
            <div class="col-span-6 md:col-span-3 flex flex-col gap-2">
                <label appLabel [label]="regulationSimulatorFormEnum.geographicArea" for="geographicArea"></label>
                <p-select size="large" formControlName="geographicArea" [options]="geographicAreas" optionLabel="name" inputId="geographicArea" placeholder="Seleccione..." class="w-full" />
            </div>

            <!-- Actividad -->
            <div class="col-span-6 md:col-span-3 flex flex-col gap-2">
                <label appLabel [label]="regulationSimulatorFormEnum.activity" for="activity"></label>
                <p-select size="large" formControlName="activity" [options]="activities" optionLabel="name" placeholder="Seleccione..." class="w-full" />
            </div>

            @if (activityField.value) {
                <!-- Clasificación -->
                <div class="col-span-6 md:col-span-3 flex flex-col gap-2">
                    <label appLabel [label]="regulationSimulatorFormEnum.classification" for="classification"></label>
                    <p-select size="large" formControlName="classification" optionLabel="name" [options]="classifications" placeholder="Seleccione..." class="w-full" />
                </div>
            }

            @if (classificationField.value) {
                <!-- Categoría -->
                <div class="col-span-6 md:col-span-3 flex flex-col gap-2">
                    <label appLabel [label]="regulationSimulatorFormEnum.category" for="category"></label>
                    <p-select size="large" formControlName="category" optionLabel="name" [options]="categories" placeholder="Seleccione..." class="w-full" />
                </div>
            }
        }
    </form>
</p-fluid>
