/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './demo/demo.scss';

.p-inputtext {
    background-color: red; /* azul claro */
    color: yellow; /* texto negro */
}

.custom-grid-form {
    @apply grid grid-cols-1 md:grid-cols-12 gap-6
}

.custom-field-form {
    @apply flex flex-col gap-2;
}

.custom-card-form {
    background-color: #fff !important;
    @apply flex flex-col gap-6 rounded-lg shadow-md p-6 bg-surface-100 mb-4;
}
