<p-fluid>
    @if (sections()) {
        <form [formGroup]="form" class="card flex flex-col">
            <div formArrayName="sections" class="grid grid-cols-1 md:grid-cols-12">
                <div class="md:col-span-12 flex flex-col mb-6">
                    <h1>Normativa</h1>

                    <p-message severity="warn">
                        <div>
                            <p class="text-lg font-bold">Atención</p>

                            <p>
                                Los requisitos listados a continuación serán revisados por el inspector del Ministerio
                                de Turismo el día de la visita a su establecimiento. Asegúrese que su establecimiento
                                cumpla con aquellos seleccionados.
                            </p>

                            <p>
                                Los Requisitos marcados con * son obligatorios
                            </p>
                        </div>
                    </p-message>
                </div>

                @for (section of sectionsField.controls; track section.value.id; let i = $index; let even = $even) {
                    <div [formGroupName]="i" class="md:col-span-12 flex flex-col">
                        <div class="mb-4">
                            <p class="text-lg font-bold mb-4 text-justify">
                                {{ section.value.name }}

                                @if (section.value.minimumItems && section.value.validationType == validationTypeEnum.MINIMUM_ITEMS) {
                                    <span
                                        class="text-primary text-sm font-medium ml-2">(Items mínimos requeridos {{ section.value.minimumItems }}
                                        )
                            </span>
                                }
                            </p>

                            <p-divider />
                        </div>

                        <div formArrayName="items" class="grid grid-cols-1 md:grid-cols-12 gap-3">
                            @for (item of getRegulationItemsField(i).controls; track item.value.id; let j = $index) {
                                <div [formGroupName]="j" class="md:col-span-11 flex flex-col">
                                    <p class="text-justify">
                                        @if (item.value.isMandatory) {
                                            <span class="text-red-500 ml-1">*</span>
                                        }

                                        {{ item.value.name }}

                                        @if (item.value.score) {
                                            <p-tag [value]="'Puntos: ( ' + item.value.score + ' )'" [rounded]="true"/>
                                        }
                                    </p>
                                </div>

                                <div [formGroupName]="j" class="md:col-span-1 flex flex-col">
                                    <app-toggle-switch id="isCompliant" formControlName="isCompliant"/>
                                </div>

                                <div class="md:col-span-12 flex flex-col">
                                    <p-divider />
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </form>
    }
</p-fluid>
